.contentAbouts{
    display: flex;
    justify-content: space-around;
}
.contentAbouts img{
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.about{
    padding: 5px;
    width: 280px;
    height: 360px;
    border: 2px solid #6E16E2;
    border-radius: 10px;
}
.about h3{
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}
h1{
    text-align: center;
}
@media only screen and (max-width: 900px) {
    .contentAbouts {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
    }
    .about{
        margin-bottom: 20px;
    }
}