:root {
    --bg-primary: #007bff;
    --bg-secondary: #6c757d;
    --bg-third: #6c757d;
    /* --disabled-value:; */
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}