.btn{
    cursor: pointer;
    /* margin: 0 5px 0 5px; */
    /* margin: 10px 5px 10px 5px; */
    border-radius: 8px;
    font-weight: bold;
    color: #fff;
    border: 3px solid #8c42c3;
    background-color: #b9b9b938;
    padding: 8px 12px;
    font-size: 16px;
}
.btn:hover{
    transition: .3s;
    box-shadow: 0px 0px 3px 1px #636363;
}
.btn:disabled{
    cursor:unset;
    opacity: .3;
}
.lg{
    padding: 10px 18px;
    font-size: 20px;
}
.md{
    padding: 8px 12px;
    font-size: 16px;
}
.sm{
    padding: 4px 8px;
    font-size: 14px;
}
